PORT=3000
BACKEND_URL=http://localhost:3000
NODE_ENV=development
BOT_TOKEN=<The Telegram Bot Token>
WEBSITE_MANUAL_URL=https://localhost:5137

JWT_SECRET=<The JWT Secret Key>
JWT_REFRESH_SECRET=<The JWT Refresh Secret Key>
JWT_EXP=15m
JWT_REFRESH_EXP=7d

GOOGLE_CLIENT_ID=<The Google Client ID>
GOOGLE_CLIENT_SECRET=<The Google OAuth2 Client Secret>
GOOGLE_CALENDAR_REDIRECT_URI=http://localhost:3000/google-calendar/callback
FRONTEND_URL=http://localhost:5173
GEMINI_API_KEY=<The Gemini API Key>
GEMINI_MODEL=gemini-2.5-flash
GEMINI_RETRY_MODEL=gemini-2.5-flash

# Database Connection Details  for local
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_NAME=postgres
DB_IS_SSL=false

# Connection string
DATABASE_URL=<Full PostgreSQL connection string>